body {
    background-color: #000;
}

#logo {
    vertical-align: middle;
    margin-right: 30px;
    width: 100%;
    max-width: 100px;
}

#cy {
    width: 100%;
    height: 800px;
    background-color: #181818;
    box-shadow: 0px 0px 40px 10px #2C974B;
}

#menu {
    display: grid;
    grid-template-columns: 150px 3fr 1fr;
}

#top-menu {
    margin-bottom: 20px;
    margin-top: 30px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#settings-menu {
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: right;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.button-18 {
    align-items: center;
    background-color: #2C974B;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600px;
    justify-content: center;
    line-height: 20px;
    max-width: 420px;
    min-height: 40px;
    height: 50%;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
    background-color: #1b5c2e;
    color: #ffffff;
}

.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
    background-color: #1a5e2d;
}

/* Stile per il modale */
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    align-items: center;
    justify-content: center;
}

#modal-content {
    background-color: white;
    padding: 20px;
    width: 30%;
    max-height: 80%;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal-input {
    width: 100%;
    max-width: 80%;
    padding: 10px;
    border: 2px solid #3bc663;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #333;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

#modal-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#modal-buttons button:first-child {
    margin-right: 10em;
}

#modal-input:focus {
    border-color: #2C974B;
    background-color: #fff;
    color: #000;
}